{{! GET RECENT POSTS? }}

<div>
    <h2 class="text-center">Recipes of the day</h2>
</div>

<div class="row main-recipes">
    {{#each recipes as |image|}}
    <div id="recipes" class="column">
        <div class="card"><img src={{image}} alt="" srcset="" /></div>
    </div>
    {{/each}}
</div>

<section class="about">
    <div class="about-box">
        <h3>What's cookin' good lookin'? </h3>
        <p class="paragraph">Welcome to What's Cooking?, the ultimate forum for foodies and cooking enthusiasts! Our platform is designed to bring together people from all over the world who share a passion for food and cooking. Whether you're a beginner or an experienced chef, you'll find a wealth of information, recipes, and inspiration on our site.</p>
        <p class="paragraph">Our mission is to provide a fun, engaging, and supportive community for anyone interested in exploring the world of food. We believe that cooking is an art form that should be shared and enjoyed by all, and we're dedicated to creating a space where people can come together to learn, grow, and connect over their shared love of food.</p>
    </div>
</section>

{{!-- <section class="video">
    <div class="video-box">
    <h3>FOODIE REVIEW VIDEO</h3>
    <img src="./images/spices.jpg" alt="Various Spices">
    {{! video? }}
    </div>
</section> --}}

{{#if username}}
<a href='/newpost'>Make a post</a>
{{/if}}

<section id="posts">
    {{#each post}}
    <div id="post"><a class="postlink" href="/thread/{{this.id}}">
        <div id="postheader">
            <h5>Category:{{this.category.category_name}}</h5>
            <h3>{{this.title}}</h3>
            <h5>posted by: {{this.user.username}}</h5>
        </div>
        <p>{{this.content}}</p>
        <div id="postfooter">
            <h5>posted on: {{this.createdAt}}</h5>
            <h5>updated on: {{this.updatedAt}}</h5>
        </a></div>
        {{/each}}
</section>