<div id="post">
        <div id="postheader">
            <h5>Category:{{post.category.category_name}}</h5>
            <h3>{{post.title}}</h3>
            <h5>posted by: {{post.user.username}}</h5>
        </div>
        <p>{{post.content}}</p>
        <div id="postfooter">
            <h5>posted on: {{post.createdAt}}</h5>
            <h5>updated on: {{post.updatedAt}}</h5>
       </div>