<h2 class="text-center">Tips</h2>

<section id="posts">
    {{#each tipspost}}
    <div id="post">
        <div id="postheader">
            <h5>Category:{{this.category.category_name}}</h5>
            <h3>{{this.title}}</h3>
            <h5>posted by: {{this.user.username}}</h5>
        </div>
        <p>{{this.content}}</p>
        <div id="postfooter">
            <h5>posted on: {{this.createdAt}}</h5>
            <h5>updated on: {{this.updatedAt}}</h5>
        </div>
        {{/each}}
</section>